:root {
  --goal-1: #e5233d;
  --goal-2: #dda73a;
  --goal-3: #4ca146;
  --goal-4: #c7212f;
  --goal-5: #ee402d;
  --goal-6: #28bfe6;
  --goal-7: #fbc412;
  --goal-8: #a31d44;
  --goal-9: #f26a2e;
  --goal-10: #df1a83;
  --goal-11: #f99d2a;
  --goal-12: #bf8d2c;
  --goal-13: #407f46;
  --goal-14: #007dbd;
  --goal-15: #59ba47;
  --goal-16: #136a9f;
  --goal-17: #1a3668;
}

.goals-scale-wrapper {
  .goals-scale-area {
    padding: 20px;
    max-width: var(--max-width);
    margin: 0 auto 0;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    img {
      display: block;
      width: 100%;
      border-radius: 10px;
      border: 5px solid transparent;
      transition: 0.25s ease-in-out;
      &:hover,
      &.active {
        border: 2px solid #ccc;
      }
    }
  }
  @media (max-width: 992px) {
    .goals-scale-area {
      grid-template-columns: repeat(16, 90px);
    }
  }
}

.color-indicator-charts .color-indicator__item .ci__color {
  background-color: #dfdfdf;
}

.selected-goal-text-wrapper {
  &[data-selected-goal-color="0"] {
    background-color: #106ba3;
  }
  &[data-selected-goal-color="1"] {
    background-color: var(--goal-1);
  }
  &[data-selected-goal-color="2"] {
    background-color: var(--goal-2);
  }
  &[data-selected-goal-color="3"] {
    background-color: var(--goal-3);
  }
  &[data-selected-goal-color="4"] {
    background-color: var(--goal-4);
  }
  &[data-selected-goal-color="5"] {
    background-color: var(--goal-5);
  }
  &[data-selected-goal-color="6"] {
    background-color: var(--goal-6);
  }
  &[data-selected-goal-color="7"] {
    background-color: var(--goal-7);
  }
  &[data-selected-goal-color="8"] {
    background-color: var(--goal-8);
  }
  &[data-selected-goal-color="9"] {
    background-color: var(--goal-9);
  }
  &[data-selected-goal-color="10"] {
    background-color: var(--goal-10);
  }
  &[data-selected-goal-color="11"] {
    background-color: var(--goal-11);
  }
  &[data-selected-goal-color="12"] {
    background-color: var(--goal-12);
  }
  &[data-selected-goal-color="13"] {
    background-color: var(--goal-13);
  }
  &[data-selected-goal-color="14"] {
    background-color: var(--goal-14);
  }
  &[data-selected-goal-color="15"] {
    background-color: var(--goal-15);
  }
  &[data-selected-goal-color="16"] {
    background-color: var(--goal-16);
  }
  &[data-selected-goal-color="17"] {
    background-color: var(--goal-17);
  }
  .selected-goal-text-area {
    padding: 15px 20px;
    max-width: var(--max-width);
    margin: 0 auto 20px;
    h4 {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
    }
  }
  @media (max-width: 992px) {
    .selected-goal-text-area {
      h4 {
        font-size: 20px;
      }
    }
  }
}

.graph-section {
  .graph-wrapper {
    padding: 0 20px;
    max-width: var(--max-width);
    margin: 0 auto 30px;
  }
}

.comparison-stats-wrapper {
  padding: 0 20px;
  max-width: var(--max-width);
  margin: 0 auto 30px;
  .comparison-stats-grid {
    margin-left: -10px;
    margin-right: -10px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    .comparison-stats-grid-item {
      padding: 10px;
    }
  }
  @media (max-width: 565px) {
    .comparison-stats-grid {
      grid-template-columns: 100%;
    }
  }
}

.comparison-stats-card {
  padding: 20px 10px;
  border-radius: 10px;
  color: #1e1e1e;
  text-align: center;
  border: 0.5px solid #00000033;
  box-shadow: 0px 0px 5.4px 0px #00000040;
  .comp-title {
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
  }
  .comp-value {
    color: #c7212f;
    font-size: 28px;
    font-weight: 700;
    margin-right: 5px;
  }
  .comp-highlight {
    font-size: 14px;
    font-weight: 500;
  }
  @media (max-width: 565px) {
    .comp-highlight {
      display: block;
    }
  }
}

.comparison-table-section {
  .comparison-table-wrapper {
    padding: 0 20px;
    max-width: var(--max-width);
    margin: 0 auto 30px;
  }
}

/* Style the table to add grid lines */
.excel-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.excel-table th,
.excel-table td {
  border: 1px solid #ccc; /* Add border to each cell */
  padding: 3px 5px;
  text-align: left;
  color: #000;
  font-size: 13px;
}

.excel-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.excel-table td {
  background-color: #fff;
}

.sticky-goals-filter {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
  &.hide-filter {
    display: none;
  }
  .goals-scale-wrapper {
    max-width: 800px;
    margin: 0 auto;
    .goals-scale-area {
      padding: 5px;
    }
  }
}
